.text-highlighted{
    color:#ca6055}
    .wrapper{
        position:relative;margin:0 auto
    }
    .button-clear{
        border:none;background-color:transparent
    }
    .button-clear:focus{
        outline:0
    }
    .site-nav-canvas{
        width:100vw;height:100vh;position:fixed;z-index:2001;top:0;left:0;right:0;bottom:0;display:none
    }.menu{
        position:absolute;top:2.7vmin;left:2.8vmin;z-index:2004;outline:none;-webkit-tap-highlight-color:transparent;width:43px;padding:10px;cursor:pointer}
    .menu-icon-line{
    display:block;
    height:2px;
    width:100%;
    background-color:white;
    margin-bottom:4px;
    border-radius:2px;
    transition:transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),opacity 0.2s ease-out;transform:translateZ(0)}

    .menu:hover>.menu-icon-line{
        background-color:white;transform:scaleX(1.2)
    }
    .menu-active>.menu-icon-line-1,.menu-active:hover>.menu-icon-line-1{
            transform:translateY(6px) rotateZ(-135deg);
            background-color:black
        }
    .menu-active>.menu-icon-line-2,.menu-active:hover>.menu-icon-line-2{
        opacity:0;background-color:black
    }
    .menu-active>.menu-icon-line-3,.menu-active:hover>.menu-icon-line-3{
        transform:translateY(-6px) rotateZ(135deg);background-color:black
    }
    .site-search{
        position:absolute;top:2vmin;right:3vmin;z-index:2003;padding:10px 5px;cursor:pointer
    }
    .site-search-icon{
        display:block;transition:opacity 0.2s ease-out
    }
    .site-search-icon:hover .site-search-icon-circle{
        stroke:#8591ac
    }
    .site-search-icon:hover .site-search-icon-line{
        fill:#8591ac
    }
    .site-search-icon-circle{
        stroke:#a5acbc
    }
    .site-search-icon-line{
        fill:#8b98b6
    }
    .site-search-close-icon{
        position:absolute;
        width:100%;height:100%;
        top:0;left:0;opacity:0;
        display:none
    }
    .site-search-close-icon-line{
        position:absolute;height:2px;width:70%;left:0;right:0;background-color:#fff;border-radius:2px;top:40%;margin:auto;transform:rotateZ(45deg) scale(0.8);opacity:1
    }
    .site-search-content-results{
        text-align:left
    }
    .site-search-results-item{
        color:inherit;
        text-decoration:none;
        font-weight:600;
        font-size:42px;
        display:block;
        padding:40px;
        line-height:1.4em;
        text-overflow:ellipsis;
        overflow:hidden
    }
    .site-search-results-item:hover{
        color:inherit
    }
    
    @media (max-width: 700px){
        .site-search-results-item{font-size:6vw;padding:20px}
    }
    .site-search-results-item-active{color:inherit;background-color:rgba(255,255,255,0.1)}
    .site-search-results-item-desc{font-size:14px;display:block;font-weight:400;padding:10px 0;max-width:500px;line-height:1.4em}.site-search-content{margin:20px auto;padding:0 20px;width:80%;max-width:1200px
    }
    @media (max-width: 700px){
        .site-search-content{width:90%;padding-left:0;padding-right:0}
    }
    .siteSearchInput{
        background-color:transparent;border-radius:0;border:none;border-bottom:2px solid rgba(255,255,255,0.1);display:block;font-size:24px;width:100%;padding:20px 20px 20px 0;box-sizing:border-box;color:#fff;outline:none;opacity:0
    }
    .siteSearchInput::placeholder{
        color:rgba(255,255,255,0.5)
    }
    @media (max-width: 700px){
        .siteSearchInput{font-size:4vw;padding:15px 15px 15px 20px}
    }
    .site-nav-overlay{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:2003;
        text-align:center;
        font-size:40px;
        font-family: 'Poppins', sans-serif;
        font-weight:bold;
        opacity:0;
        
        background-color: white;
        pointer-events:none;
        overflow:hidden
    }
    .site-nav-overlay-search{
        position:fixed;top:0;left:0;width:100%;height:100%;z-index:2002;text-align:left;font-family:Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;font-weight:bold;opacity:0;color:#fff;pointer-events:none;overflow:scroll
    }
    .site-nav-active{
        pointer-events:initial
    }
    .nav-content{
        width:620px;max-width:100%;margin:40px auto;margin-top:18vh;padding:0 60px;box-sizing:border-box
    }
    
    @media all and (max-width: 600px){
        .nav-content{padding-right:30px;padding-left:30px;font-size:32px}
    }
    @media all and (max-height: 720px){
        .nav-content{margin-top:15vh;font-size:32px}
    }
    @media all and (max-height: 600px){
        .nav-content{margin-top:10vh}
    }
    @media all and (max-height: 500px){
        .nav-content{margin-top:6vh}
    }
    .nav-header{
        width:100%;margin:0 auto;font-size:11px;text-transform:uppercase;letter-spacing:0.4em;font-weight:bold;position:relative;transform:translateZ(0)
    }
    .nav-header-line{
        display:block;height:2px;width:100%;z-index:-1;background-color:#fff;position:absolute;top:12px;transform:scaleX(.3)
    }
    .nav-header-text{
        padding:0 10px;z-index:1;position:relative;background-color:white
    }
    .nav-categories{
        padding:20px 0 30px;list-style-type:none;overflow:hidden;margin:0 auto;transform:translateZ(0)
    }
    .nav-category{
        padding:0;position:relative;display:block
    }
    .nav-link{
        display:inline-block;color:inherit;padding:15px 20px 15px;text-decoration:none;transition:color 0.25s ease-in-out;transform:translateZ(0)
    }
    .nav-link:hover{
        color:#566871
    }
    .nav-link:hover::after{
        transform:scaleY(1)
    }
    .nav-link::after{
        content:"";background-color:#fff;width:100%;height:100%;position:absolute;bottom:0;left:0;transform:scaleY(0);transform-origin:0 100%;transition:all 0.25s ease-in-out;z-index:-1
    }
    @media all and (max-height: 720px){.nav-link{padding-top:20px;padding-bottom:20px}}@media all and (max-height: 550px){.nav-link{padding-top:15px;padding-bottom:15px}}@media all and (max-height: 450px){.nav-link{padding-top:10px;padding-bottom:10px}}

    .nav-sublinks{
        font-size:0.4em;color:#80bece;padding-top:30px;padding-bottom:30px;border-top:2px solid black;border-bottom:2px solid black;width:100%;text-align:center
    }
    @media all and (max-height: 550px){.nav-sublinks{padding-top:20px;padding-bottom:20px}}
    @media all and (max-height: 450px){.nav-sublinks{padding-top:10px;padding-bottom:10px}}
    
    .nav-sublink{
        color:inherit;
        text-decoration:none;
        display:inline-block;
        padding:10px 0;
        width:32%;
        vertical-align:middle
    }
    .nav-sublink:hover{
        color:white !important;
    }
    .nav-sublink::after{
        background-color: black
    }
    .no-scroll{
        overflow:hidden;position:fixed;height:100%;width:100%
    }
    
    #mc_embed_signup{position:relative;text-align:center;margin-top:20px}#mc_embed_signup_scroll{position:relative;max-width:450px;width:100%;margin:0 auto}
    
    .mc-field-group{
        display:block;width:100%
    }
    #mce-EMAIL,#mc_embed_signup #mce-EMAIL
    
    .mce_inline_error{
        padding:15px;font-size:1.1em;font-weight:normal;border-radius:3px;font-family:inherit;display:block;width:100%;box-sizing:border-box;border:1px solid #d2d2d2
    }
    .mce-responses{
        position:absolute;top:0;right:0
    }
    #mc-embedded-subscribe{position:absolute;top:4px;right:4px;color:#fff;background-color:#47a0dc;border:0;border-bottom:3px solid #2883c0;text-decoration:none;border-radius:4px;font-size:16px;padding:8px 10px;cursor:pointer;font-family:inherit;-webkit-appearance:none}
    
    #mc-embedded-subscribe:active{background-color:#2883c0}
    
    #mc_embed_signup #mc_embed_signup_scroll div.mce_inline_error{background-color:inherit;text-align:left;color:#333;font-weight:normal}#mce-success-response.response{margin-top:20px;color:#eeeef0;position:relative;font-size:14px;line-height:1.5em;text-align:left;text-indent:-999em}#mce-success-response.response:after{
        content:"Almost finished! I just need to confirm your email address. To complete the subscription, please click the link in the email I just sent you.";color:#333;position:absolute;width:100%;top:0;left:0;text-align:center;text-indent:0}
        
    .footer-more-projects{
        padding-top:80px;text-align:center;padding-bottom:120px
    }
    @media (max-width: 480px){
        .footer-more-projects{padding-top:60px;padding-bottom:80px}
    }
    .collection-footer-info{padding-top:80px;background-color:#fff;color:#000;text-align:center;padding-bottom:80px
    }
    
    .collection-footer-box{width:400px;text-align:left;display:inline-block;vertical-align:top;max-width:90%
    }
    .collection-footer-profile p{
        color:#adadad
    }
    @media (max-width: 420px){.collection-footer-profile{text-align:center}
    }
    .collection-inline-header-w-subheader{
        margin-bottom:5px
    }
    .collection-profile-image{
        float:left;padding-top:8px;padding-bottom:40px;margin-right:20px
    }
    @media (max-width: 420px){
        .collection-profile-image{
            display:block;float:none;margin:0 auto;padding-bottom:0}}
    .collection-footer-divider{
        height:80px;width:1px;background-color:#000;margin:25px 40px 0;display:inline-block;vertical-align:top
    }
    @media (max-width: 940px){
        .collection-footer-divider{display:none}}
    .collection-project{
        border-radius:4px;color:#fff;position:relative;text-align:left;display:inline-block;margin:30px 5px 0;padding:40px 30px;width:50%;max-width:310px;box-sizing:border-box;transition:background-color 0.3s ease-out
    }
    .collection-project:hover{
        color:#fff
    }
    @media (max-width: 940px){.collection-project{display:block;margin:24px auto;width:96%}.collection-project+.collection-project{margin-left:auto;margin-right:auto}.sk-more-projects .collection-project{padding:20px 10px}
    }
    .collection-project-spinkit{
        background-color:#c1605c
    }
    .collection-project-spinkit:hover{
        background-color:#ba4e4a
    }
    .collection-project-preview{
        position:absolute;left:32px;top:0;bottom:5px;margin-top:auto;margin-bottom:auto
    }
    @media (max-width: 940px){.sk-more-projects .collection-project-preview{left:16px}
    }
    .collection-project-preview-spinkit{
        width:40px;height:40px;background-color:#fff;-webkit-animation:sk-rotateplane 1.2s infinite ease-in-out;animation:sk-rotateplane 1.2s infinite ease-in-out
    }
    .collection-project-typesource{
        background-color:#47a0dc
    }
    .collection-project-typesource:hover{
        background-color:#3295d8
    }
    .typesource .collection-project-typesource{
        display:none
    }
    .collection-project-preview-typesource{
    width:30px;height:26px;padding:12px 10px;border:solid 2px rgba(255,255,255,0.2);border-radius:3px
    }
    .collection-project-moving-letters{
        background-color:#9ba5b5
    }
    .collection-project-moving-letters:hover{
        background-color:#8c98aa
    }
    .moving-letters 
    .collection-project-moving-letters{
        display:none
    }
    .collection-project-preview-moving-letters{
        width:30px;height:26px;padding:12px 10px;border:solid 2px rgba(255,255,255,0.2);border-radius:3px
    }
    .collection-project-header{
        padding-left:70px;margin-top:10px;margin-bottom:0;font-weight:600;font-size:22px
    }
    @media (max-width: 940px)
    {.sk-more-projects .collection-project-header{font-size:18px}
    }
    .collection-project-description{
        padding-left:70px;color:rgba(255,255,255,0.6);margin-top:6px;margin-bottom:10px;line-height:1.2em
    }
    @-webkit-keyframes sk-rotateplane{0%{-webkit-transform:perspective(120px)}50%{-webkit-transform:perspective(120px) rotateY(180deg)}100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg)}
    }
    @keyframes sk-rotateplane{0%{-webkit-transform:perspective(120px) rotateX(0deg) rotateY(0deg);transform:perspective(120px) rotateX(0deg) rotateY(0deg)}50%{-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg)}100%{-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)}}
    .ml-carbon-ad{
        z-index:20;position:relative
    }
    /* #carbonads{
        transition:opacity 0.3s ease-in-out;
        padding:10px;background-color:rgba(0,0,0,0.25);
        border-radius:4px;
        box-sizing:border-box;
        width:150px;min-height:212px;
        position:fixed;bottom:5px;right:5px;line-height:1.4em}
    
        @media (max-height: 520px){
            .ml-carbon-ad,.ml-carbon-ad-container{display:none}
        }
        @media (max-width: 480px){
            .ml-carbon-ad,.ml-carbon-ad-container{display:none}
        }
        .carbon-img{display:block}
        .carbon-text{display:block;width:130px;padding:2px 0 8px;font-size:12px}
        .carbon-poweredby{font-size:75%}
        .ml-carbon-ad-source-showing{z-index:3020} */


        html{margin:0;padding:0;height:100%}
        /* .is-showing-source{overflow:hidden}
        .is-showing-source .collection-project-preview-spinkit{
            -webkit-animation-play-state:paused;animation-play-state:paused}
            .is-showing-source .collection-project-preview{visibility:hidden
        } */
        body{
            background-color: black;
            padding:0;
            margin:0;
            color:#fff;
            
            height:100%}
            
        @media (max-width: 480px){
            .compositions{font-size:10px}}
            .menu{
                transform:translateZ(100px);top:12px;left:10px
            }
            .nav{
                transform:translateZ(100px)
            }
            .header{
                padding:20px 0
            }.header-title{
                font-size:18px;
                font-weight:bold;
                letter-spacing:6px;
                color:#9ba5b5;
                cursor:default
            }
            .header-title .letter{
                display:inline-block;
                transform-origin:50% 50%}
            
            @media (max-width: 480px){
                
                .header-title{font-size:11px}
            }

            .header-link{
                position:absolute;
                top:17px;right:15px
            }
            .twitter-icon-svg{
                height:22px;
                width:30px;
                fill:#676d77
            }
            .compositions{
                display:flex;
                flex-flow:row wrap
            }
            .composition{
                color:#fff;
                flex:1 50%;
                height:500px;
                position:relative;
                overflow:hidden;
                cursor:pointer;
                -webkit-tap-highlight-color:transparent
            }
 
    /* .composition:hover .composition-hint{
        opacity:1
    }
    @media (max-width: 940px){
        .composition{flex:1 100%
        }
    }
    @media (max-height: 570px){
            .composition{height:420px}
    }
    .composition-hint{
        font-weight:400;
        padding-bottom:20px;
        display:inline-block;
        opacity:0;transform:translateZ(0);
        transition:opacity 0.3s ease-in-out;
        position:absolute;bottom:0;right:0;left:0
    }
    .composition-hint-arrows{
        vertical-align:middle;
        position:relative;
        top:-1px
    }
    .composition-wrapper{
        transform:translateZ(0);
        position:absolute;
        left:0;right:0;top:0;bottom:0
    }
    .composition-active{
        width:50%;
        right:auto;
        left:0;
        z-index:3000;
        position:fixed
    }
    
    @media (max-width: 940px){
        .composition-active{
            width:100%;height:480px
        }
    }
    .compositions-overlay{
        position:fixed;
        top:0;left:0;right:0;bottom:0;background-color:#000;opacity:0;z-index:2000;display:none
    } */
    /* .composition-source{
        position:fixed;height:100%;width:100%;top:0;bottom:0;right:0;margin:auto;z-index:3001;display:none;text-align:left;color:#000;box-sizing:border-box;overflow-y:scroll;padding-left:50%
    } */
    
    /* @media (max-width: 480px){
        .composition-source{-webkit-overflow-scrolling:touch}}
        @media (max-width: 940px){
            .composition-source{
                padding-left:0;padding-top:500px;margin-top:0}}
                @media (max-height: 570px) and (max-width: 940px)
                {.composition-source{padding-top:430px}} */
                
    /* .composition-source-container{
        background-color:#fff;transform-origin:100% 0;padding-bottom:20px;overflow-x:hidden;padding-bottom:20px;overflow-x:hidden;padding-top:100px;margin-top:-120px;min-height:100vh}
        @media (max-width: 940px){.composition-source-container{padding-top:0;margin-top:0}}
        @media (max-width: 480px){.composition-source-container{padding-top:20px}}.composition-source-header{font-size:86px;font-weight:800;padding-top:100px;padding-bottom:100px;line-height:1em;padding-left:40px}
        @media (max-width: 940px){.composition-source-header{padding-top:30px;padding-bottom:30px;font-size:54px}}
        @media (max-width: 480px){.composition-source-header{display:none}}.composition-source-subheader{font-size:13px;letter-spacing:0.2em;color:#adadad;text-transform:uppercase;padding-left:40px}.composition-source-code{border:0;cursor:text;font:14px Consolas, "Courier New", Courier, monospace;outline:0;resize:none}.highlight{background-color:#f4f4f6;border-top:1px solid #eee;border-bottom:1px solid #eee;padding:2em 2em 2em 40px;position:relative;width:100%;overflow-x:scroll;margin-bottom:2em;line-height:1.5em;box-sizing:border-box}
        @media (max-width: 480px){.highlight{overflow-x:auto;overflow-wrap:break-word}}.hidden{display:none}.composition-back-button{position:fixed;top:20px;left:20px;z-index:3002;display:none;-webkit-tap-highlight-color:transparent}.composition-back-image{width:51px;height:51px}
        @media (max-width: 940px){.composition-back-button{position:absolute}}
        .collection-inline-header{font-weight:200}
        @media (max-width: 420px){.collection-inline-header{text-align:center}} */
